<div class="row" id = "table-container" style="display:none;">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <table class = "table table-hover" id = "results-table">
      <thead>
        <th>Route Name</th>
        <th>Destination</th>
        <th>Departure Times</th>
      </thead>
      <%# render partial: "departures", locals: {:@departures => @departures} %>
    </table>
  </div>
</div>
