<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Bus Departures</h1>
    <h3>Never miss a bus again!</h3>
    <br>
    <a href="#form" class="btn btn-dark btn-lg">Find Next Departure</a>
  </div>
</header>

<section id = "form" class = "about">
  <div class="container" id = "flash-messages">
    <%= flash_messages %>
  </div>
  <%= render partial: 'form' %>
  <%= render partial: "results_table" %>
</section>


<section id="departures" class="map">

  <%= render partial: 'map' %>
  <%# , locals: { url: "https://www.google.com/maps/embed/v1/view?zoom=11&center=-37.7749%2C122.4194&key=AIzaSyDCwnppj18fMVUz4GtFyXYp3YBSmMi0NKc" } %>

</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr class="small">
        <p class="text-muted">Copyright &copy; Bus Departures 2015</p>
      </div>
    </div>
  </div>
</footer>